@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --vocs-color_background: white;
}

:root.dark {
    --vocs-color_background: #232225;
}

:root {
    --vocs-color_background: white;
}

:root.dark {
    --vocs-color_background: #232225;
}

.vocs_HomePage_logo {
    width: 500px;
    height: 96px !important;
}